:root {
  --cor-experienciasb: #e0e0e0;
  --cor-experienciatxt: #525252;
  --cor-experienciatxt2: #141414;
  --cor-empresabg: #f5f5f5;
  --cor-empresa-ano-texto: #525252;
  --cor-empresahb: #ffffff;
  --cor-footer: #000;
  --cor-footer-texto: #ccc;
  --cor-footer-contato: #fff;
  --cor-footer-copy: #8f8f8f;
  --cor-gradient1: #b6f829;
  --cor-gradient2: #67dd0a;
  --cor-body: #141414;
  --cor-formacaotxt: #a3a3a3;
  --cor-header: #bbb7b7;
  --cor-bodybg: rgb(29, 29, 29);
  --cor-faculdade: #000;
}
@media (prefers-color-scheme: dark) {
  :root {
    --cor-experienciasb: #1d1d1d;
    --cor-experienciatxt: #bab8b8;
    --cor-experienciatxt2: #f0f0f0;
    --cor-empresabg: #1b1b1b;
    --cor-empresa-ano-texto: #b1b1b1;
    --cor-empresahb: #ffffff;
    --cor-footer: rgb(255, 255, 255);
    --cor-footer-texto: rgb(183, 183, 183);
    --cor-footer-contato: rgb(0, 0, 0);
    --cor-footer-copy: #848484;
    --cor-gradient1: #b6f829;
    --cor-gradient2: #67dd0a;
    --cor-body: #dcdbdb;
    --cor-formacaotxt: #585757;
    --cor-header: #444242;
    --cor-bodybg: rgb(29 29 29);
    --cor-faculdade0: rgb(90, 90, 90);
    --cor-naomuitobranco: rgb(190, 190, 190);
    --cor-container: rgb(72, 70, 70);
    --cor-footer: rgb(116, 116, 116);
  }
}
.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo {
  color: var(--cor-naomuitobranco);
}
.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: var(--cor-experienciatxt);
}
.experiencia-texto strong {
  color: var(--cor-experienciatxt2);
}
.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: var(--cor-empresabg);
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}
.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(var(--cor-gradient1), var(--cor-gradient2));
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa-ano {
  position: absolute;
  top: 22px;
  left: -100px;
  text-align: right;
  width: 80px;
  color: var(--cor-empresa-ano-texto);
  font-size: 0.875rem;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--cor-empresa-ano-texto);
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: var(--cor-empresahb);
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo {
    color: var(--cor-body);
  }
  .experiencia-texto {
    font-size: 1.25rem;
  }
  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
.footer {
  background: var(--cor-footer);
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
  background-color: ;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: var(--cor-footer-texto);
}

.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: var(--cor-footer-contato);
  margin-bottom: 30px;
  text-decoration: none;
}

.footer-contato li a {
  color: var(--cor-footer-contato);
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: var(--cor-footer-copy);
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
    background-color: var(--cor-header);
  }
  .footer-contato li {
    font-size: 1.5rem;
  }
}
body {
  font-family: "Fira Sans", Arial, sans-serif;
  margin: 0px;
  color: var(--cor-body);
  background: var(--cor-bodybg);
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}
.footer {
  background: var(--cor-footer);
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: var(--cor-footer-texto);
}

.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: var(--cor-footer-contato);
  margin-bottom: 30px;
}

.footer-contato li a {
  color: var(--cor-footer-contato);
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: var(--cor-footer-copy);
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-contato li {
    font-size: 1.5rem;
  }
}
.formacao {
  background: var(--cor-body);
  color: var(--cor-naomuitobranco);
}

.formacao-container {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  position: relative;
  background-color: var(--cor-container);
}

.formacao-container::after {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/detalhe.svg") no-repeat center;
  position: absolute;
  bottom: -50px;
  left: 20px;
}

.formacao .subtitulo {
  color: var(--cor-naomuitobranco);
  max-width: 5ch;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: var(--cor-naomuitobranco);
}

.formacao-texto strong {
  color: var(--cor-naomuitobranco);
}

.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.faculdade {
  flex: 1;
  background: var(--cor-faculdade);
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.faculdade-tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: var(--cor-empresahb);
  margin-bottom: 10px;
}

.faculdade-curso {
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
  position: relative;
}

.faculdade-curso::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(var(--cor-gradient1), var(--cor-gradient2));
  position: absolute;
  left: -24px;
}

.faculdade-instituicao {
  font-size: 1.125rem;
  color: var(--cor-empresahb);
}

.cursos {
  margin-bottom: 60px;
}

.formacao-extra h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--cor-footer-copy);
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.formacao-extra h3::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: -36px;
  top: -4px;
}

.cursos h3::before {
  background: url("../img/cursos.svg") no-repeat center center;
}

.idiomas h3::before {
  background: url("../img/idiomas.svg") no-repeat center center;
}

.formacao-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
}

.formacao-extra span {
  color: var(--cor-footer-copy);
}

.cursos li {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }
  .formacao .subtitulo {
    color: var(--cor-naomuitobranco);
  }
  .formacao-texto {
    font-size: 1.25rem;
  }
  .formacao-extra h3::before {
    position: initial;
    margin-bottom: 10px;
  }
}
body {
  font-family: "Fira Sans", Arial, sans-serif;
  margin: 0px;
  color: var(--cor-body);
  background: var(--cor-bodybg);
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}
.header {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--cor-body);
  display: block;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
  .header a {
    background: var(--cor-header);
    border-radius: 4px;
  }
}
.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/detalhe.svg") no-repeat center;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}

.introducao p {
  font-size: 1.5rem;
  color: var(--cor-empresa-ano-texto);
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .introducao h1 {
    font-size: 2rem;
  }
  .introducao h1::before {
    width: 30px;
    height: 10px;
    left: 0px;
  }
}

@media (max-width: 400px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao img {
    display: none;
  }
}
.a {
  text-decoration: none;
}
